
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="col-md-4"></div>
<div class="col-md-4" id="login">
<h1 class="text-center">Login</h1>
<form  >
<div class="form-group">
  <label>Username</label>
  <input type="text " placeholder="username" class="form-control" id="user" >
</div>
  <div class="form-group">
    <label>Password</label>
  <input type="password" class="form-control" placeholder="password" id="pass">
  </div>
  <div class="row"><div class="col-md-4"></div>
   <div class="col-md-4 text-center">
     <br><br>
     <input type="submit" onclick="auth()"  class="btn">
  </div>

  </div>
</form>
</div>
<script>

function auth(){
var user=document.getElementById("user").value;
var pass=document.getElementById("pass").value;
var i=0;
var sent_Data=JSON.stringify({"username":user,"password":pass});
$.ajax({
url:"http://localhost:3000/auth/",
type:"POST",
data:sent_Data,
contentType:"application/json",
async:false,
success:function(data){
  console.log(data);
  if(data.length==1){
    localStorage.id=data[0]._id;
   

    localStorage.points=data[0].points;

    
    window.open("http://localhost:3000/dashboard/"+data[0].name);
 
  }
 }
});
}
</script>